@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary: #ff3700;
}

body {
    background-color: #222;
    font-family: 'Poppins', sans-serif;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.875rem 6.25rem;
    z-index: 10;
}

.logo {
    font-size: 2.5em;
    color: #fff;
    letter-spacing: 1px;
    font-weight: 800;
    flex-grow: 1;
}

.mainNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
}

.nav {
    display: flex;
}

.nav li {
    list-style: none;
    margin: 0 10px
}

.nav li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 500;
    letter-spacing: .0625rem;
    cursor: pointer;
    transition: .3s;
}

.nav li:hover a {
    color: var(--primary);
}

.search {
    position: relative;
    width: 300px;
    height: 40px;
}

.search input {
    position: absolute;
    left: 0;
    top: 0;
    width: 80% !important;
    height: 100% !important;
    color: #fff;
    background: transparent;
    border: 1px solid rgba(255, 255, 255, .5) !important;
    outline: none !important;
    border-radius: 4px !important;
    padding: 0 10px 0 45px !important;
    backdrop-filter: blur(.625rem);
}

.search input::placeholder {
    color: #fff;
}

.search i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: .625rem;
    padding-right: .625rem;
    color: #fff;
    border-right: .0625rem solid #fff;
}

.banner {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 0 6.25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: url('../images/movies/bg-little-mermaid.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    transition: .5s;
}

.banner::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
}

.banner .content {
    position: relative;
    max-width: 34.375rem;
    display: none;
    visibility: hidden;
    transform: scale(0);
    transition: .5s;
}

.banner .content.active {
    display: block;
    visibility: visible;
    transform: scale(1);
    transition: .5s;
}

.banner .content .movie-title {
    max-width: 18.75rem;
}

.banner .content h4 {
    color: rgba(255, 255, 255, .5);
    font-weight: 400;
    font-size: 1.875rem;
}

.banner .content h4 span {
    padding-right: .625rem;
    border-right: 1px solid rgba(255, 255, 255, .5);
}

.banner .content .genre {
    font-size: 1.375em;
}

.banner .content h4 span:last-child {
    border-right: none;
}

.banner .content h4 span i {
    color: #f0c05e;
    padding-right: .5rem;
    display: inline-block;
    border-radius: .125rem;
}

.banner .content p {
    font-size: 1em;
    font-weight: 300;
    line-height: 1.5em;
    color: #fff;
    margin: .625rem 0 1.25rem;
}

.banner .content .button {
    position: relative;
}

.banner .content .button a {
    position: relative;
    display: inline-block;
    margin-right: .625rem;
    background-color: var(--primary);
    color: #fff;
    padding: .375rem 1.25rem;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: .0625rem;
    text-transform: uppercase;
    transition: .5s;
    cursor: pointer;
}

.banner .content .button a i {
    padding-right: .3125rem;
}
.banner .content .button a:nth-child(2) {
    background-color: rgba(0, 0, 0, .5);
    border: 1px solid rgba(255, 255, 255, .2);
}

.banner .content .button a:nth-child(2):hover {
    background-color: var(--primary);
    transform: scale(.95);
}

.banner .content .button a:nth-child(1):hover {
    background-color: rgba(255, 55, 0, .8);
    transform: scale(.95);
}

.banner .carousel-box {
    position: relative;
    width: 50vw;
    min-width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, .2);
    box-shadow: 1.25rem 1.25rem 3.125rem rgba(0, 0, 0, .5);
    border: .0625rem solid rgba(255, 255, 255, .1);
    backdrop-filter: blur(10px);
    border-radius: .625rem;
}

.carousel {
    position: relative;
    height: 34.375rem;
    perspective: 1200px;
}

.carousel .carousel-item {
    width: 15.625rem;
    cursor: pointer;
}

.carousel .carousel-item img {
    max-width: 15rem;
    border-radius: .625rem;
    transform: translate(8px, -60px);
    object-fit: cover;
    object-position: center;
}

.play {
    position: absolute;
    bottom: 3.125rem;
    left: 6.25rem;
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: .0625rem;
    font-size: 1.2em;
    cursor: pointer;
    transition: .3s;
}

.play i {
    margin-right: .625rem;
    font-size: 2.5rem;
    cursor: pointer;
}

.play:hover {
    color: var(--primary);
}

.sci {
    position: absolute;
    bottom: 3.125rem;
    right: 6.25rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 1.5625em;
}

.sci a {
    font-size: 1.5625em;
    font-weight: 500;
    transition: .3s;
    cursor: pointer;
    color: #fff;
}

.sci a:hover {
    text-shadow: 0 0 10px #fff, 0 0 10px #fff;
}

.trailer {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(20px);
    visibility: hidden;
    opacity: 0;
    transition: .5s;
}

.trailer.active {
    visibility: visible;
    opacity: 1;
}

.trailer iframe {
    width: 900px;
    aspect-ratio: 16/9;
}

.close {
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
    filter: invert(1);
    max-width: 20px;
}

@media screen and (max-width: 1200px) {
    header {
        padding-inline: 3.25rem;
    }

    .banner {
        padding-inline: 3.25rem;
    }

    .play {
        left: 3.25rem;
    }

    .sci {
        right: 3.25rem;
    }
}

@media screen and (max-width: 1024px) {
    header {
        flex-direction: column;
    }

    .mainNav {
        width: 100%;
        margin-top: .9375rem;
    }

    .search input{
        border: none !important;
        border-bottom: 1px solid rgba(255, 255, 255, .5) !important;
    }

    .banner .content h4 {
        font-size: 1.375em;
    }

    .banner .content .genre {
        font-size: 1.1em;
    }
}

@media screen and (max-width: 950px) {
    .banner {
        flex-direction: column;
        padding-inline: 3.25rem;
        padding-top: 9.375rem;
        align-items: start;
        justify-content: center;
    }
    
    .banner .content {
        max-width: 70vw;
    }
    
    .banner .carousel-box {
        width: 100%;
        margin-top: 30px;
        margin-bottom: 100px;
    }
}

@media screen and (max-width: 780px) {
    .mainNav {
        flex-direction: column;
        gap: 1.25rem;
    }
}

@media screen and (max-width: 688px) {
    .banner {
        padding-inline: 0;
    }
    
    .banner .content {
        padding-left: 3.25rem;
    }

    .banner .carousel-box {
        border-radius: 0;
    }
}

@media screen and (max-width: 600px) {
    .banner {
        padding-top: 15.375rem;
    }

    .carousel {
        perspective: 700px;
        height: 25rem;
    }

    .carousel .carousel-item {
        width: 13.625rem;
    }
    .carousel .carousel-item img {
        transform: translate(calc((100vw - 600px) / 2), -40px);
    }
}

@media screen and (max-width: 480px) {
    header {
        padding-inline: 1rem;
    }

    .nav li a {
        font-size: 1.1em;
    }

    .banner .content {
        max-width: 100%;
        padding-inline: 1.8rem;
    }

    .play {
        font-size: 1em;
        left: 1.5rem;
    }

    .play i {
        font-size: 1.8rem;
    }

    .sci {
        right: 1.5rem;
    }

    .sci a {
        font-size: 1.35rem;
    }
}